.input {
	width: 100%;
	padding: 11px 15px;

	background-color: #fff;
	outline: none;

	font-family: var(--font-family);
	font-size: 16px;
	color: #000;
}

.input::placeholder {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 180%;
	color: rgb(0 0 0 / 60%);
}
