.button {
	display: flex;

	justify-content: center;
	align-items: center;
	column-gap: 10px;

	height: 50px;

	padding: 15px 24px;

	background-color: var(--black);

	border-radius: 0;

	font-size: var(--font-size-base);
	text-transform: uppercase;
	color: var(--white);

	transition:
		background-color 0.2s ease-in,
		color 0.2s ease-in;
}

.button:hover,
.button:focus {
	background-color: #404040;
}

.button:active {
	background-color: #222;
}
