.lead-article {
	display: flex;

	flex-direction: column;

	width: 100%;

	background-color: #fff;
}

.lead-article-content {
	display: grid;

	gap: 48px;
	grid-template-columns: 1fr 1fr;

	margin-bottom: clamp(0.75rem, 0.221rem + 2.65vw, 3rem);

	@media (width <= 768px) {
		gap: 24px;
		grid-template-columns: 1fr;
	}

	@media (width <= 375px) {
		gap: 12px;
	}
}

.lead-article-content__title {
	font-family: var(--font-family);
	font-size: clamp(2.5rem, 1.559rem + 4.71vw, 6.5rem);
	font-weight: 600;
	line-height: 110%;
	text-transform: uppercase;
}

.lead-article-content__wrapper {
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	gap: 24px;

	@media (width <= 375px) {
		gap: 12px;
	}
}

.lead-article-content__description {
	display: flex;

	justify-content: space-between;
	align-items: center;
	gap: 12px 24px;

	@media (width <=1118px) {
		align-items: flex-start;
	}

	@media (width <= 375px) {
		gap: 12px;
	}
}

.lead-article-content__text {
	font-family: var(--font-family);
	font-size: clamp(0.875rem, 0.816rem + 0.29vw, 1.125rem);
	font-weight: var(--font-weight);
	line-height: 180%;
}

.lead-article-content__details {
	display: flex;

	flex-wrap: wrap;
	gap: 12px 24px;

	@media (width <= 375px) {
		gap: 8px;
	}
}
