@import url('https://fonts.cdnfonts.com/css/general-sans');

body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight);

	color: var(--text-default);
	background-color: var(--background-default);

	padding-top: 50px;
	padding-bottom: 39px;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 4.761904761904762vw;
}

.nav {
	position: fixed;
	left: 50%;
	top: 10px;
	z-index: 999;
	transform: translateX(-50%);

	width: max-content;
	max-width: 100%;
	/* overflow-x: scroll; */
	padding: 10px 20px;

	display: flex;
	justify-content: center;
	gap: 10px;

	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(50px);
	border-radius: 80px;
	border: 1px solid hsl(0deg 0% 31.1% / 57%);

	font-size: 14px;
	color: var(--text-default);
}

.nav--ui {
	position: fixed;
	top: auto;
	left: 50%;
	bottom: 10px;
	z-index: 999;
	transform: translateX(-50%);

	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid hsl(0deg 0% 18.32% / 57%);
	color: #fff;
}

.nav__link {
	flex-shrink: 0;
	text-decoration: none;
	/* color: var(--text-default); */
	color: inherit;
}

.nav__link--active,
a.nav__link--active {
	text-decoration: underline;
}

@media (max-width: 767px) {
	.nav {
		width: 100%;
		top: 0;
		left: 0;
		transform: translateX(0);
		border-radius: 0;
		border: none;
	}

	.nav--ui {
		top: auto;
		bottom: 0;
		left: 0;
		transform: translateX(0);
	}
}