@import 'https://fonts.cdnfonts.com/css/general-sans';

body {
	padding-top: 50px;
	padding-bottom: 39px;

	background-color: var(--background-default);

	font-family: var(--font-family);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight);

	color: var(--text-default);
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 4.761904761904762vw;
}

.nav {
	position: fixed;
	top: 10px;
	left: 50%;
	z-index: 999;

	display: flex;

	justify-content: center;
	gap: 10px;

	width: max-content;
	max-width: 100%;

	/* overflow-x: scroll; */
	padding: 10px 20px;

	background-color: rgb(255 255 255 / 50%);
	border: 1px solid hsl(0deg 0% 31.1% / 57%);
	border-radius: 80px;

	font-size: 14px;
	color: var(--text-default);

	backdrop-filter: blur(50px);
	transform: translateX(-50%);
}

.nav--ui {
	position: fixed;
	top: auto;
	bottom: 10px;
	left: 50%;
	z-index: 999;

	background-color: rgb(0 0 0 / 80%);
	border: 1px solid hsl(0deg 0% 18.32% / 57%);

	color: #fff;

	transform: translateX(-50%);
}

.nav__link {
	flex-shrink: 0;

	text-decoration: none;

	/* color: var(--text-default); */
	color: inherit;
}

.nav__link--active,
a.nav__link--active {
	text-decoration: underline;
}

@media (width <= 767px) {
	.nav {
		top: 0;
		left: 0;

		width: 100%;

		border: none;
		border-radius: 0;

		transform: translateX(0);
	}

	.nav--ui {
		top: auto;
		bottom: 0;
		left: 0;

		transform: translateX(0);
	}
}
