/* ArticlesSection.module.css */
.wraper {
	margin-bottom: 2rem;
}

.list {
	display: grid;

	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	margin-bottom: 2rem;
}

.more {
	text-align: center;
}

@media (width <= 768px) {
	.list {
		gap: 1rem;
		grid-template-columns: 1fr;
	}
}
