.details-item__title {
	font-family:
		'var sans-serif' 'mily)',
		sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 160%;
}

.details-item__value {
	font-family:
		'var sans-serif' 'mily)',
		sans-serif;
	font-size: 16px;
	line-height: 160%;
}

.details-item__content {
	display: flex;

	align-items: center;
	gap: 8px;

	width: 100%;
}
