.details-item__title {
	font-family: var (--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 160%;
}

.details-item__value{
	font-family: var (--font-family);
	font-size: 16px;
	line-height: 160%;
}

.details-item__content{
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
