.author-profile {
	min-height: 100vh;
	padding: 40px 0;

	background-color: var(--background-default);
}

.author-profile__container {
	display: flex;

	flex-direction: column;
	gap: 80px;

	margin: 0 auto;
	padding: 0 20px;
}

.author-profile__navigation {
	display: flex;

	justify-content: space-between;
	align-items: center;
	gap: 48px;

	width: 100%;
	margin-bottom: 48px;
}

.author-profile__go-back-button {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.author-profile__title {
	margin: 0;

	font-family: var(--font-family);
	font-size: 32px;
	font-weight: 600;
	line-height: 1.1em;
	text-transform: uppercase;
	color: var(--black);
}

@media (width <= 1200px) {
	.author-profile__container {
		gap: 60px;

		padding: 0 16px;
	}

	.author-profile__navigation {
		gap: 32px;

		margin-bottom: 32px;
	}

	.author-profile__title {
		font-size: 28px;
	}
}

@media (width <= 768px) {
	.author-profile {
		padding: 20px 0;
	}

	.author-profile__container {
		gap: 40px;

		padding: 0 12px;
	}

	.author-profile__navigation {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;

		margin-bottom: 24px;
	}

	.author-profile__title {
		font-size: 24px;
	}
}

@media (width <= 480px) {
	.author-profile {
		padding: 16px 0;
	}

	.author-profile__container {
		gap: 32px;

		padding: 0 8px;
	}

	.author-profile__navigation {
		display: flex;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 12px;

		width: 100%;
		margin-bottom: 20px;
		padding: 0 0 0 30px;
	}

	.author-profile__title {
		font-size: 20px;
	}
}
