.magazine-header {
	margin-bottom: 96px;
}

.magazine-navbar {
	margin-bottom: 67px;
}

.magazine-articles {
	margin-bottom: 96px;
}

.magazine-link-next {
	display: flex;

	flex-direction: row-reverse;

	width: 100%;
	margin-bottom: 192px;
}
