.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.links {
    display: flex;
    align-items: center;
}

.links * {
    margin-right: 24px;
}

.socials {
    display: flex;
    gap: 12px;

}

.line{
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 48px;
}