.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.socials {
    display: flex;
    gap: 12px;

}

.line {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 48px;
}

@media(max-width: 1199px) {
    .header {
        margin-bottom: 1.33333vw;
    }

    .nav {
        gap: 2vw;
    }

    .socials {
        gap: 1vw;

    }

    .line {
        margin-bottom: 4vw;
    }
}

@media(max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        gap: 12px;
    }

    .icon {
        display: none;
    }

    .logo {
        margin-bottom: 12px;
    }

    .line {
        margin-bottom: 6.2vw;
    }
}