.footer-content {
	position: relative;

	display: grid;

	gap: 3rem;
	grid-template-columns: auto auto;

	padding-bottom: 96px;
}

.footer-brand-title {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--white);
}

.footer-navigation-wrapper {
	position: relative;

	display: grid;

	gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
}

.footer-navigation-column {
	position: relative;

	display: flex;

	flex-direction: column;
	gap: 0.75rem;
}

.footer-navigation-link {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.025em;
	text-decoration: none;
	color: var(--white);
}

.footer-copyright {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	gap: 20px;

	padding-bottom: 65px;
}

.footer-copyright-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.025em;
	color: var(--gray);
}

.footer-copyright-socials {
	display: flex;

	justify-content: flex-end;
	align-items: center;
}

/* Адаптивность для планшетов */
@media (width <= 768px) {
	.footer-content {
		gap: 1rem;
		grid-template-columns: 1fr;

		padding-bottom: 42px;
	}

	.footer-navigation-wrapper {
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.footer-copyright {
		padding-bottom: 45px;
	}
}

/* Адаптивность для мобильных устройств */
@media (width <= 480px) {
	.footer-copyright {
		padding-bottom: 12px;
	}
}
