.socialsContainer {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.socialsContainer a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.socialsContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
