.post {
  display: flex;
  flex-direction: column;
}

.post__line {
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin: 192px 0 0 0;

  @media (max-width: 767px) {
	margin: 96px 0 0 0;
	}
}

.postHeader__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: clamp(3rem, 2.2rem + 4vw, 6rem);

  @media (max-width: 767px) {
	grid-template-columns: 1fr;
	gap: 16px;
  }
}

.post__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: clamp(3.25rem, 2.383rem + 4.33vw, 6.5rem);
	line-height: 110%;
	text-transform: uppercase;
}

.post__desc {
  	font-family: var(--font-family);
	font-weight: 500;
	font-size: clamp(1rem, 0.933rem + 0.33vw, 1.25rem);
	line-height: 180%;
}

.post__detailes{
	display: flex;
	gap: 20px;
	justify-content: space-between;
	margin-bottom: 32px;
	flex-wrap: wrap;
}

.post__detailesGroup {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;

	@media (max-width: 767px) {
		gap: 16px;
	}
}

.postContent {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.post__img {
	width: 100%;
	margin-bottom: clamp(2.875rem, 2.108rem + 3.83vw, 5.75rem);
}

.post__img img {
  width: 100%;
  height: auto;
  display: block;
}

.post__wrapper{
	width: 66%;
	display: flex;
	gap: 64px;
	margin: 0 auto;

	@media (max-width: 1226px) {
		width: 80%;
		gap: 40px;
	}

	@media (max-width: 1023px) {
		flex-direction: column;
		gap: 0;
	}
}

.post__author {
	flex: 0 0 320px;
}

.post__main {
	flex: 1;
}
.post__authorInfo{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
	margin-bottom: clamp(1rem, 0.733rem + 1.33vw, 2rem);
}

.photo{
	width:80px;
	height:80px;
	border-radius: 50%;
}

.name{
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 32px;
	line-height: 120%;
}

.divider{
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 1);
	margin: 1rem 0;
}

.post__detailsItems{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.post__main{
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.post__text {
	font-family: var(--font-family);
    font-size: clamp(0.875rem, 0.842rem + 0.17vw, 1rem);
	line-height: 180%;
}

.post__main quote {
  display: block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(1.5rem, 1.1rem + 2vw, 3rem);
  line-height: 120%;
  padding: clamp(2.188rem, 1.554rem + 3.17vw, 4.563rem) 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 24px 0;
}

.post__quoteTextWrapper{
	display: flex;
	gap: 24px;
}

.quotesElement {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: clamp(3rem, 2.2rem + 4vw, 6rem);
	line-height: 100%;
}

.post__quoteAuthor {
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
}
